@import "bootstrap-sprockets";
@import "bootstrap";

/* TABLE OF CONTENT

- C O L O R S
- N A V B A R / B O D Y 
- V E R B S   T A B L E



*/


/* - - - - - - - - - - - - - - - - - - - - - - 
C O L O R S
- - - - - - - - - - - - - - - - - - - - - - */

$strawberry : #D1004C;
$darkStrawberry: #B80043;
$veryDarkGrey: #2C2C2C;
$darkGrey: #5C5C5C;
$mediumGrey: #9A9A9A;
$lightGrey: #C6C6C6;


/* - - - - - - - - - - - - - - - - - - - - - - 
F O N T S 
- - - - - - - - - - - - - - - - - - - - - - */

h1, h2, h3, h4, h5, p, a{
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.3%;
	line-height: 1.5em;
}

h1{
	color: $strawberry;
	text-align: center;
	padding-bottom: 10px;
	letter-spacing: 0.1em;
}

h2{
	color: $strawberry;
	text-align: center;
	padding-bottom: 10px;
	letter-spacing: 0.1em;
	font-size: 22px;
	font-weight: 300;
}

h3{
	color: $strawberry;
	text-align: center;
	padding-bottom: 10px;
	letter-spacing: 0.1em;
	font-size: 18px;
	font-weight: 400;
}

h4{
	color: $strawberry;
	text-align: center;
	padding-bottom: 10px;
	letter-spacing: 0.1em;
	font-size: 16px;
	font-weight: 300;
}



/* - - - - - - - - - - - - - - - - - - - - - - 
N A V B A R   &   F O O T E R
- - - - - - - - - - - - - - - - - - - - - - */

* {
	margin: 0;
}

html,body { 
	height: 100%; 
}


.navbar{
	background-color: $strawberry;
	margin-bottom: 40px;

	.navbar-text a{
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 21px;
		color: #fff;
		letter-spacing: 0.1em;
		&:hover{
			text-decoration: none;
			font-weight: 400;
		};
	}

	.navbar-brand {
		height: 100%;
		color: white;
		&:hover{
			color: white;
		};
		.fa{
			font-size: 1.6em;
		}
	}
}

.navbar-default .navbar-nav{
	padding-right: 40px;
}


.navbar-default .navbar-nav > li > a{
	color: white;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.1em;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active, .navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a.active {
	background-color: $darkStrawberry;
	color: white;
}

.navbar-nav > li > a {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 30px;
	padding-left: 30px;
}


.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -6em;

}

.push{
	height: 6em;
}

.footer{
	background-color: $strawberry;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 0.1em;
	height: 6em;
	.footer-text{
		padding-top: 35px;
	}

}

.intro{
	padding-bottom: 40px;
}



/* - - - - - - - - - - - - - - - - - - - - - - 
V E R B S   T A B L E
- - - - - - - - - - - - - - - - - - - - - - */

.verbs-table{
	table-layout: fixed;
	width: 100%;

	th, td{
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: $veryDarkGrey;
		padding: 15px;
		border-bottom: 1px solid $lightGrey;
		border-collapse: collapse;
	}

	th{
		font-weight: 600;
		color: $strawberry;
		font-size: 18px;
		border-bottom: 1px solid $strawberry;
		border-collapse: collapse;
	}

}

.instructions-header{
	margin-bottom: 40px;
}


.list-header{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: $strawberry;
	font-size: 18px;		
	padding: 10px;
}

.list-verbs{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: $darkGrey;
	padding: 10px;
}



/* - - - - - - - - - - - - - - - - - - - - - - 
M E T H O D S 
- - - - - - - - - - - - - - - - - - - - - - */

.grouped-verbs{
	text-align: left;
	margin-bottom: 60px;
}




